<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
  <head th:replace="~{Layout/template::head}">
    <title>TechShop</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header th:replace="Layout/template :: header"></header>

    <div class="container my-5">
      <div class="row align-items-center">
        <div class="col md-4"></div>
        <div class="col md-4">
          <div class="card">
            <div class="card-header bg-danger text-white">
              <h3>[[#{e403.titulo}]]</h3>
            </div>
            <div class="card-body">
              <p class="card-text">[[#{e403.texto}]]</p>
            </div>
            <div class="card-footer col text-center">
              <a class="btn btn-danger" th:ref="@{/}">
                <i class="fas fa-arrow-left"></i>
                [[#{accion.regresar}]]
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="Layout/template :: footer"></footer>
  </body>
</html>
