<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShop</title>
</head>
<body>
    
    <table>
        <tr>
            <td>
                <h2>ID</h2>
            </td>
            <td>
                <h2>Nombre</h2>
            </td>
            <td>
                <h2>Apellidos</h2>
            </td>
            <td>
                <h2>Correo</h2>
            </td>
        </tr>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nombre}"/>
            <td th:text="${cliente.apellidos}"/>
            <td th:text="${cliente.correo}"/> 
        </tr>
    </table>
</body>
</html>